# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*

# Logs
*.log

# VSCode and editor configs
.idea/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# MacOS files
.DS_Store

# OpenPose models
openpose-models/

# Shapy data
shapy-data/
